---
import BaseHead from '../components/BaseHead.astro';
import BasicLayout from '../layouts/BasicLayout.astro';

import Footer1 from '../components/Footer1.astro';
import Footer from '../components/Footer.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<BasicLayout>
			<main class="max-w-4xl mx-auto p-6 space-y-6 mb-12">
				<h1 class="text-4xl font-bold text-center text-yellow-400">Bienvenue sur mon portfolio !</h1>
				<p class="text-lg text-white">
					Bonjour, je m'appelle Alexis Maugain et je suis en 2ème année de BUT MMI. Je suis spécialisé
					dans la création numérique, et ce portfolio est une vitrine de mes compétences, de mes projets
					et de mon parcours.
				</p>
				<p class="text-lg text-white">
					Voici quelques domaines dans lesquels j'excelle :
				</p>
				<ul class="list-disc list-inside space-y-2 text-white">
					<li class="text-lg">Graphisme</li>
					<li class="text-lg">Webdesign</li>
					<li class="text-lg">Développement web</li>
					<li class="text-lg">Audiovisuel</li>
					<li class="text-lg">Communication digitale</li>
				</ul>
				<p class="text-lg text-white">
					Vous pouvez découvrir mes projets récents, en apprendre davantage sur mes compétences,
					ou me contacter directement via la section dédiée.
				</p>
				<p class="text-lg text-white">
					Merci de visiter mon portfolio, et n'hésitez pas à partager vos impressions !
				</p>
			</main>
			<Footer1 />
			<Footer />
		</BasicLayout>
		
	</body>
</html>
