---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="bg-gray-900 shadow-md">
	<nav class="container mx-auto flex items-center justify-between py-4 px-6">
		<h2 class="text-xl font-extrabold text-white">
			<a href="/" class="hover:text-yellow-400 transition-colors duration-300">{SITE_TITLE}</a>
		</h2>
		<div class="flex space-x-6">
			<HeaderLink href="/" class="text-white hover:text-yellow-400 transition-colors duration-300">Home</HeaderLink>
			<HeaderLink href="/blog" class="text-white hover:text-yellow-400 transition-colors duration-300">Blog</HeaderLink>
			<HeaderLink href="/about" class="text-white hover:text-yellow-400 transition-colors duration-300">About</HeaderLink>
			<HeaderLink href="/pizza" class="text-white hover:text-yellow-400 transition-colors duration-300">Pizza</HeaderLink>
			<HeaderLink href="/works" class="text-white hover:text-yellow-400 transition-colors duration-300">Works</HeaderLink>
		</div>
	</nav>
</header>
